<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title></title>
  </head>
  <body class="bg">
    <h1 class="text-center">Covid-19 Report</h1>
    <h1 class="text-center"> <%=send %></h1>
    <h1 class="text-center"> <%=xxx %></h1>
    <h2 class="text-center">Union Territory of Puducherry</h2>
    <!-- total report div -->
    <div class="total-report  text-center">
    <p class="total-p">
      Total Confirmed cases
    </p>
      </div>
      <!-- other report div -->
    <div class="container-fluid">
      <div class="row">
      <div class="col-md">
        <div class="x ">
<p class="total-death">
  Total Deaths
</p>

        </div>
      </div>

      <div class="col-md">
        <div class="x">
<p class="total-Recovery">
  Total Recovery
</p>
        </div>
      </div>

      <div class="col-md">
        <div class="x">

        </div>
      </div>

      </div>
    </div>
 </html>